<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleChatClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7DFCA5E1E9ECA45004056E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DFCA751E9ECA46004056E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DFCA801E9ECA46004056E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
